venv/
.venv/

__pycache__/
*.py[cod]

logs/
logs/
*.log
.env
.env.*

data/raw/
data/interim/
data/processed/

artifacts/models/
artifacts/preprocessing/
*.pkl
*.joblib

mlflow.db
mlflow.db-shm
mlflow.db-wal
mlruns/
mlartifacts/


mlruns/
mlartifacts/

.ipynb_checkpoints/

.vscode/

.DS_Store
Thumbs.db